body,html {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 85px;
    background-color: black;
    position:fixed;
}

h1 {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Cookie', cursive;
    color: red;
}

span {
    color: red;
}

ul {
    width: auto;
    float: right;
    margin-top: 8px;
    position: fixed;
    list-style: none; position: fixed; top: 10px; right: 30px; cursor: pointer; z-index: 10;
}

li {
    display: inline-block;
    padding: 15px 30px;
}

a {
    text-align: center;
    color: red;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
 }
a:hover {
    color: blue;
    transition: 0.5s;
}

h2 {
    font-family: 'Cookie', cursive;
    text-align: center;
    font-size: 50px;
    color: red;
    font-weight: bold;
}

#Subscribe{
    width: 300px;
    height: 100px;
    border: none;
    color: white;
    background-color: red;
    border-radius: 0px;
    box-shadow: inset 0 0 0 0 #827372;
    transition: ease-out 0.3s;
    font: 2rem;
    outline: none;
}

#Subscribe:hover {
    box-shadow: inset 300px 0 0 0 #827372;
    cursor: pointer;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


 
h4 {
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}

h5 {
    font-size: 30px;
}

#icon {
    height: 150px;
}

html {
    scroll-behavior: smooth;
}

#donate{
    height: 150px;
    width: 500px;
    color:white;
    background-color: purple;
    border-radius: 0px;
    box-shadow: inset 0 0 0 0 #827372;
    transition: ease-out 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: none;
    font-size: 35px;
}

#donate:hover {
    box-shadow: inset 500px 0 0 0 #827372;
    cursor: pointer;
}

h4:hover {
    cursor: pointer;
}

#Head {
    position: fixed;
}

#bye {
    font-size: 50px;
}